.main {
  width: 100%;
  --background: #eeeeee 0% 0% no-repeat padding-box;
  opacity: 1;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
.submenu {
  display: none;
}
.nav-item:hover > ul {
  display: block;
}
.rectangle {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: black;
}
