.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
.submenu{
  display: none;
}
.nav-item:hover > ul{
  display: block;
}
.navbar-brand{
  top: 20px;
  left: 430px;
  width: 100px;
  height: 19px;
  opacity: 1;
}
.rectangle{
  display: inline-block;
  width: 100px;
  height: 100px;
  background: black;
}