.root {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}
.root select {
  appearance: none;
}
.root .title-wrap {
  display: flex;
  align-items: flex-end;
  margin-bottom: 8px;
}
.root .resume-title {
  font: normal normal 700 25px/31px 'Noto Sans KR', sans-serif;
}
.root .resume-user {
  display: flex;
  align-items: center;
  justify-content: center;
  font: normal normal 700 14px/24px 'Noto Sans KR', sans-serif;
  color: #009999;
  width: 52px;
  height: 24px;
  border: 2px solid #009999;
  border-radius: 5px;
  margin: 0 0 1px 8px;
}
.root .text {
  margin-bottom: 65px;
  font: normal normal 500 15px/19px 'Noto Sans KR', sans-serif;
}
.root .text .user-name {
  font: normal normal 700 15px/19px 'Noto Sans KR', sans-serif;
  color: #009999;
}
.root .content-name,
.root .content-birth,
.root .content-addr {
  margin-right: 20px;
}
.root .content-col {
  width: 340px;
}
.root .content-email .content-col {
  width: 700px;
}
.root .basic-info-title {
  position: relative;
  font: normal normal 700 20px/24px 'Noto Sans KR', sans-serif;
}
.root .basic-info-container {
  border-top: 2px solid #707070;
  margin-top: 8px;
  padding-top: 30px;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}
.root .basic-info-container .form-container {
  display: flex;
  margin-right: 20px;
}
.root .form-container .form-content {
}
.root .form-container .form-content .form {
  width: 160px;
  height: 150px;
  background: #f0f0f0;
  border: 1px solid #dddddd;
}
.root .form-container button {
  width: 80px;
  height: 40px;
  background: #009999;
  outline: none;
  border: none;
  color: #fff;
  font: normal normal 500 13px/16px 'Noto Sans KR', sans-serif;
}
.root .form-container button:nth-of-type(2) {
  background: #aaa;
}
.root .input-container {
  flex: 1 1 auto;
}
.root .input-container .name-gender-content {
}
.root .name-gender-content .content-name {
}
.root .content-name .input-name {
  width: 250px;
  height: 40px;
  background: #f0f0f0;
  border: 1px solid #dddddd;
  font: normal normal 500 13px/16px 'Noto Sans KR', sans-serif;
  padding-left: 16px;
  color: #666666;
}
.root .name-gender-content .content-gender {
}
.root .content-gender button {
  width: 125px;
  height: 40px;
  color: #999999;
  background: #fff;
  border: 1px solid #dddddd;
  outline: none;
  font: normal normal 500 13px/16px 'Noto Sans KR', sans-serif;
}
.root .content-gender button.active {
  border: none;
  color: #fff;
  background: #009999;
}
.root .content-birth-phonenum {
}
.root .content-birth {
}
.root .content-birth .input-birth {
  width: 250px;
  height: 40px;
  background: #f0f0f0;
  border: 1px solid #dddddd;
  font: normal normal 500 13px/16px 'Noto Sans KR', sans-serif;
  padding-left: 16px;
  color: #666666;
}
.root .content-phone {
}
.root .content-phone .input-phonenum {
  width: 250px;
  height: 40px;
  background: #f0f0f0;
  border: 1px solid #dddddd;
  font: normal normal 500 13px/16px 'Noto Sans KR', sans-serif;
  padding-left: 16px;
  color: #666666;
}
.root .content-addr {
}
.root .content-addr .input-addr-wrap {
}
.root .content-addr .input-addr-wrap .input-addr {
  width: 250px;
  height: 40px;
  background: #fff;
  border: 1px solid #dddddd;
  font: normal normal 500 13px/16px 'Noto Sans KR', sans-serif;
  padding-left: 16px;
  color: #666666;
}
.root .content-mili {
}
.root .content-mili .military-option {
  appearance: none;
  width: 400px;
  height: 60px;
}
.root .content-mili .military-options {
  width: 250px;
  height: 40px;
  background: #fff;
  border: 1px solid #dddddd;
  padding-left: 16px;
  font: normal normal 500 13px/16px 'Noto Sans KR', sans-serif;
  color: #666666;
}
.root .content-email {
  margin-bottom: 0;
}
.root .content-email .input-email {
  width: 610px;
  height: 40px;
  background: #f0f0f0;
  border: 1px solid #dddddd;
  font: normal normal 500 13px/16px 'Noto Sans KR', sans-serif;
  padding-left: 16px;
  color: #666666;
}
