.resume-title {
  /* top: 210px;
  left: 520px; */
  width: 200px;
  height: 31px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    25px/31px var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 25px/31px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  margin-bottom: 5px;
}

.text {
  margin-bottom: 65px;
}
.text2 {
  top: 246px;
  left: 520px;
  width: 386px;
  height: 19px;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
}

.basic-info-title {
  top: 330px;
  left: 520px;
  height: 24px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 20px/24px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  margin-bottom: 0px;
}

.division-line {
  width: 100%;
  border: 2px solid #707070;
  opacity: 1;
  margin-top: 6px;
  margin-bottom: 30px;
}
.root {
  padding-top: 20px;
}
.component-style {
  margin: 80px 100px 0px 100px;
}
.form {
  width: 160px;
  height: 150px;
  display: flex;
  border: solid 1px;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #f0f0f0 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  opacity: 1;
}
.form-container {
  display: flex;
}
.form button {
  width: 80px;
  height: 40px;
  /* UI Properties */
  background: var(--unnamed-color-009999) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-009999);
  background: #009999 0% 0% no-repeat padding-box;
  border: 1px solid #009999;
  opacity: 1;
}

.picture-submit {
  width: 80px;
  height: 40px;
  /* UI Properties */
  background: var(--버튼-색상) 0% 0% no-repeat padding-box;
  border: 1px solid var(--버튼-색상);
  background: #009999 0% 0% no-repeat padding-box;
  border: 1px solid #009999;
  opacity: 1;
}

.picture-delete {
  width: 80px;
  height: 40px;
  /* UI Properties */
  background: var(--unnamed-color-aaaaaa) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-aaaaaa);
  background: #aaaaaa 0% 0% no-repeat padding-box;
  border: 1px solid #aaaaaa;
  opacity: 1;
}
.basic-info-container {
  display: flex;
}
.input-container {
  margin-left: 20px;
  width: 700px;
  height: 120px;
}
.span-name {
  font-size: 10px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-16)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
  width: 90px;
  height: 40px;
  align-items: center;
  display: inline-block;
}
.input-name {
  width: 250px;
  height: 40px;
  border: 1px solid var(--unnamed-color-dddddd);
  border: 1px solid #dddddd;
  opacity: 1;
}
.input-name:focus {
  outline: none;
}
.span-gender {
  margin-left: 20px;
  width: 90px;
  height: 40px;
  align-items: center;
  display: inline-block;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-16)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}
.gender-input {
  width: 250px;
  height: 40px;
}

.male-btn {
  width: 125px;
  height: 40px;
  outline: none;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  opacity: 1;
  margin-bottom: 10px;
}

.female-btn {
  width: 125px;
  height: 40px;
  background: var(--unnamed-color-009999) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-009999);
  background: #009999 0% 0% no-repeat padding-box;
  border: 1px solid #009999;
  opacity: 1;
}

.male-btn:focus {
  outline: none;
}
.female-btn:focus {
  outline: none;
}
.span-birth {
  width: 90px;
  height: 40px;
  align-items: center;
  display: inline-block;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-16)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}
.input-birth {
  width: 250px;
  height: 40px;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #f0f0f0 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  opacity: 1;
}
.input-birth:focus {
  outline: none;
}
.span-phonenum {
  margin-left: 20px;
  width: 90px;
  height: 40px;
  align-items: center;
  display: inline-block;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-16)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}
.input-phonenum {
  width: 250px;
  height: 40px;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #f0f0f0 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  opacity: 1;
}
.input-phonenum:focus {
  outline: none;
}
.span-addr {
  width: 90px;
  height: 40px;
  align-items: center;
  display: inline-block;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-16)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

.basic-info-container .search-btn {
  width: 70px;
  height: 40px;
  margin-left: 0px;
}
.search-btn:focus {
  outline: none;
}
.input-addr {
  width: 180px;
  height: 40px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  opacity: 1;
}
.input-addr:focus {
  outline: none;
}
.span-mili {
  margin-left: 20px;
  width: 90px;
  height: 40px;
  align-items: center;
  display: inline-block;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-16)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

.span-email {
  width: 90px;
  height: 40px;
  align-items: center;
  display: inline-block;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-16)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

.input-email {
  width: 610px;
  height: 40px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  opacity: 1;
}
.input-email:focus {
  outline: none;
}
.popup-component {
  justify-content: center;
  margin: 20px;
}
.select {
  background: #ffffff0d 0% 0% no-repeat padding-box;
  opacity: 1;
}
.option1 {
  background: #ffffff0d 0% 0% no-repeat padding-box;
  opacity: 1;
}
