#career-info {
  margin: 80px 0 0 0;
}

.body-detail {
  margin: 0px 0px 35px 0px;
}

#career-info .title-container {
  display: flex;
  justify-content: space-between;
}

#career-info .add-items {
  cursor: pointer;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) 15px/19px
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-009999);
  text-align: left;
  font: normal normal medium 15px/19px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #009999;
  opacity: 1;
}

.company-input-close {
  display: flex;
  justify-content: space-between;
  width: 880px;
  height: 40px;
  margin: 0px 0px 10px 0px;
}

.company-name {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-16)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
  width: 90px;
  height: 40px;
  display: inline-block;
}

.input-style {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  width: 340px;
  height: 40px;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #eeeeee 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  outline: 0px;
  --opacity: 1;
}

.employ-type .employ-type-style {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-16)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
}

.employ-type {
  display: flex;
  align-items: center;
  margin: 0px 0px 10px 0px;
}

/* .employ-select {
  outline: none;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #eeeeee 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  width: 340px;
  height: 40px;
  opacity: 1;
  margin: 0px 0px 0px 24px;
} */

.employ-type .employ-period {
  border: 1px solid var(--unnamed-color-dddddd);
  --background: #e0e0e0 0% 0% no-repeat padding-box;
  border: 1px solid #bebebe;
  opacity: 1;
  width: 160px;
  height: 40px;
  margin-right: 20px;
}

.employ-type .date {
  width: 160px;
  height: 40px;
  margin-right: 20px;
}

.employ-type .zero-outline {
  outline: 0px;
}

.employ-type .employ-period-input {
  border: 1px solid var(--unnamed-color-dddddd);
  --background: #e0e0e0 0% 0% no-repeat padding-box;
  border: 1px solid #bebebe;
  opacity: 1;
  width: 160px;
  height: 40px;
  margin-right: 20px;
}

.employ-type .present {
  align-self: center;
  margin: 0px 0px 0px 15px;
}

.job-container {
  width: 880px;
  display: flex;
  justify-content: flex-end;
}

.job-container > .job-content {
  display: flex;
  align-items: center;
  position: relative;

  width: 790px;
  height: 64px;
  margin-left: 90px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  /* border: 1px solid #dddddd;
  border-radius: 5px; */
  opacity: 1;
  padding: 12px 36px 12px 0px;
}

.job-content > .job-title {
  margin: 0px 0px 0px 23px;
  width: 90px;
  height: 64px;
  font-size: 13px;
  display: flex;
  align-items: center;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-16)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

.job-content > .add-jobs {
  position: relative;
}

.job-content > .add-jobs > button {
  width: 790px;
  height: 40px;
  background: none;
  border: 1px solid #009999;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--버튼-색상);
  text-align: center;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #009999;
  cursor: pointer;
}

.job-content > .add-jobs > button:focus {
  outline: none;
}

.job-container .select-job-container {
  position: absolute;
  width: 790px;
  height: 360px;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-top: none;
  left: 0px;
  top: 40px;
  opacity: 1;
  --z-index: 999;
}

.job-container .select-job-container > .level-columns {
  display: flex;
}

.job-container .select-job-container > .level-columns > .level-one,
.job-container .select-job-container > .level-columns > .level-two {
  /* display: flex;
  flex-direction: column; */
  width: 200px;
  height: 319px;
  border-right: 1px solid #dddddd;
  overflow-y: auto;
  --flex: 1 1 auto;
}

.job-container .select-job-container > .level-columns > .level-three {
  width: 289px;
  height: 319px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.job-container .select-job-container > .level-columns > .level-one > div,
.job-container .select-job-container > .level-columns > .level-two > div {
  margin: 15px 10px 10px 10px;
  --margin-top: 10px;
  --flex: 1 1 0;
  --height: 40px;
}

.job-container
  .select-job-container
  > .level-columns
  > .level-three
  > .job-item {
  display: flex;
  --width: 125px;
  height: 20px;
  align-items: center;
  justify-content: center;
  --margin: 5px 15px;
  margin: 5px 5px;
  --flex: 1 1 auto;
}

.job-container
  .select-job-container
  > .level-columns
  > .level-three
  > .job-item.clicked {
  border: 1px solid #333333;
  border-radius: 15px;
}

.job-container .select-job-container > .level-columns > div > div {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font: normal normal medium 12px/15px Apple SD Gothic Neo;
  font-size: 12px;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
  --border: 1px solid #cccccc;
  cursor: pointer;
}

.job-container .select-job-container > .selected-items-container {
  display: flex;
  align-items: center;
}

.job-container
  .select-job-container
  > .selected-items-container
  > .selected-items-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  --justify-content: center;
  width: 661px;
  --width: 100%;
  height: 40px;
  border-top: 1px solid #dddddd;
}

.job-container
  .select-job-container
  > .selected-items-container
  > .selected-items-content
  > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 15px;
  height: 20px;
  color: #009999;
  margin: 0 2px;
  box-sizing: border-box;
  font-size: 12px;
  padding: 5px;
  margin: 0 5px;
}

.job-container
  .select-job-container
  > .selected-items-container
  > .selected-items-content
  > div
  > .selected-job-close {
  margin: 0 5px;
  color: #dddddd;
  font-size: 8px;
  cursor: pointer;
}

.job-container
  .select-job-container
  > .selected-items-container
  > .select-completed-btn {
  width: 129px;
  height: 40px;
  background: #009999 0% 0% no-repeat padding-box;
  border: 1px solid #009999;
  text-align: center;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.job-container .select-detail-job-container {
  position: absolute;
  width: 790px;
  height: 279px;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-top: none;
  left: 0px;
  top: 40px;
  opacity: 1;
}

.job-container .select-detail-job-container > .previous-selected-jobs {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #dddddd;
}

.job-container .select-detail-job-container > .previous-selected-jobs > div {
  box-sizing: border-box;
  padding: 2px;
  font-size: 14px;
  border-radius: 15px;
  margin: 0 5px;
  border: 1px solid #dddddd;
  color: #dddddd;
}

.job-container .select-detail-job-container > .level-four {
  display: flex;
  flex-wrap: wrap;
  height: 239px;
  --border-bottom: 1px solid #dddddd;
  overflow-y: auto;
}

.job-container .select-detail-job-container > .level-four > div {
  margin: 10px;
  color: #333333;
  font-size: 12px;
  height: 20px;
  cursor: pointer;
}

.job-container
  .select-detail-job-container
  > .level-four
  > .detail-job-item.clicked {
  border: 1px solid #aaaaaa;
  border-radius: 15px;
}

.job-container .selected-four-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dddddd;
  background: #ffffff;
  width: 790px;
  border-top: none;
  top: 319px;
}

.job-container .selected-four-container > .print-selected-four {
  display: flex;
  --background: #ffffff;
  flex-wrap: wrap;
  width: 512px;
}

.job-container .selected-four-container > .print-selected-four > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  border: 1px solid #dddddd;
  border-radius: 15px;
}

.job-container
  .selected-four-container
  > .print-selected-four
  > div
  > .selected {
  color: #009999;
  margin: 0 5px;
}

.job-container
  .selected-four-container
  > .print-selected-four
  > div
  > .close-selected {
  margin: 0 5px;
  cursor: pointer;
}

.job-container .selected-four-container > .completeDetailJobSelection {
  align-self: flex-start;
  width: 129px;
  height: 40px;
  border: 1px solid #009999;
  background: #009999;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

/* 세부직무 선택 후 마지막 화면 ----------- */
.detail-job-content {
  width: 790px;
  margin-left: 90px;
  margin-bottom: 15px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  border-radius: 5px;
  opacity: 1;
}

/* common style -----------------------*/
.detail-job-content .row-style {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-left: 23px;
}

.detail-job-content .title-style {
  font: normal normal medium 11px/13px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

.detail-job-content .border-style {
  border: 1px solid #dddddd;
  height: 40px;
}

.detail-job-content .col-style {
  margin-left: 20px;
}
/* common style -----------------------*/

.detail-job-content > .job-name-content > .three-level-jobs {
  display: flex;
  align-items: center;
  width: 610px;
  margin-left: 38px;
}

.detail-job-content > .job-name-content > .three-level-jobs > div {
  margin: 0 5px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  --box-sizing: content-box;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 14px;
  color: #009999;
}

.detail-job-content > .job-name-content > .close-content {
  margin-left: 50px;
  cursor: pointer;
}

.detail-job-content > .job-period-content > .start-month,
.detail-job-content > .job-period-content > .end-month {
  width: 160px;
  margin-left: 22px;
}

.detail-job-content > .main-result-content > .input-main-result {
  margin-left: 22px;
  width: 610px;
}

.detail-job-content > .detail-job-list-container {
  margin-top: 15px;
  margin-left: 22px;
  display: flex;
}

.detail-job-content > .detail-job-list-container .detail-job {
  margin-bottom: 10px;
  margin-left: 23px;
  display: flex;
}

.detail-job-content > .detail-job-list-container .detail-job-title {
  --align-self: flex-start;
}

.detail-job-content > .detail-job-list-container .detail-job-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  background: #f0f0f0 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  font-size: 13px;
}

.detail-job-list-content > .detail-job > .input-detail-job-desc {
  margin-left: 20px;
  width: 430px;
}

.detail-job-list-content > .detail-job > .input-detail-job-desc::placeholder {
  font-size: 12px;
  padding-left: 15px;
}

.detail-job-list-container .add-detail-job {
  position: relative;
}

.detail-job-list-container .add-detail-job > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #009999;
  background: #ffffff;
  color: #009999;
  margin-left: 23px;
  margin-bottom: 19px;
  width: 610px;
  --width: 669px;
  height: 40px;
  cursor: pointer;
}

/* 세부 직무 추가하기(다시 추가하는 부분) */
.add-detail-job .select-detail-job-container-2 {
  position: absolute;
  width: 610px;
  height: 279px;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-top: none;
  left: 0px;
  top: 40px;
  margin-left: 23px;
  opacity: 1;
  z-index: 999;
}

.add-detail-job .select-detail-job-container-2 > .previous-selected-jobs {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #dddddd;
}

.add-detail-job .select-detail-job-container-2 > .previous-selected-jobs > div {
  box-sizing: border-box;
  padding: 2px;
  font-size: 14px;
  border-radius: 15px;
  margin: 0 5px;
  border: 1px solid #dddddd;
  color: #dddddd;
}

.add-detail-job .select-detail-job-container-2 > .level-four {
  display: flex;
  flex-wrap: wrap;
  height: 239px;
  --border-bottom: 1px solid #dddddd;
  overflow-y: auto;
}

.add-detail-job .select-detail-job-container-2 > .level-four > div {
  margin: 10px;
  color: #333333;
  font-size: 12px;
  height: 20px;
  cursor: pointer;
}

.add-detail-job
  .select-detail-job-container-2
  > .level-four
  > .detail-job-item.clicked {
  border: 1px solid #aaaaaa;
  border-radius: 15px;
}

.add-detail-job .selected-four-container-2 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dddddd;
  background: #ffffff;
  width: 610px;
  border-top: none;
  margin-left: 23px;
  top: 319px;
}

.add-detail-job .selected-four-container-2 > .print-selected-four {
  display: flex;
  --background: #ffffff;
  flex-wrap: wrap;
  width: 512px;
}

.add-detail-job .selected-four-container-2 > .print-selected-four > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  border: 1px solid #dddddd;
  border-radius: 15px;
}

.add-detail-job
  .selected-four-container-2
  > .print-selected-four
  > div
  > .selected {
  color: #009999;
  margin: 0 5px;
}

.add-detail-job
  .selected-four-container-2
  > .print-selected-four
  > div
  > .close-selected {
  margin: 0 5px;
  cursor: pointer;
}

.add-detail-job .selected-four-container-2 > .completeDetailJobSelection {
  align-self: flex-start;
  width: 129px;
  height: 40px;
  border: 1px solid #009999;
  background: #009999;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  z-index: 999;
}

/* 직무 추가하기 */
/* .body-detail > .add-jobs-2 {
  position: relative;
}

.body-detail > .add-jobs-2 > button {
  margin-top: 13px;
  margin-left: 91px;
  width: 790px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #009999;
  border: 1px solid #009999;
  cursor: pointer;
}

.body-detail > .add-jobs-2 > .add-job-container {
  position: absolute;
  width: 790px;
  height: 360px;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-top: none;
  left: 91px;
  top: 40px;
  opacity: 1;
}

.body-detail > .add-jobs-2 > .add-job-container > .level-columns {
  display: flex;
}

.body-detail > .add-jobs-2 > .add-job-container > .level-columns > .level-one,
.body-detail > .add-jobs-2 > .add-job-container > .level-columns > .level-two {
  --width: 176px;
  width: 190px;
  height: 319px;
  border-right: 1px solid #dddddd;
  overflow-y: auto;
  --flex: 1 1 auto;
}

.body-detail
  > .add-jobs-2
  > .add-job-container
  > .level-columns
  > .level-three {
  width: 289px;
  height: 319px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.body-detail
  > .add-jobs-2
  > .add-job-container
  > .level-columns
  > .level-one
  > div,
.body-detail
  > .add-jobs-2
  > .add-job-container
  > .level-columns
  > .level-two
  > div {
  margin: 15px 10px 10px 10px;
  --margin-top: 10px;
  --flex: 1 1 0;
  --height: 40px;
}

.body-detail
  > .add-jobs-2
  > .add-job-container
  > .level-columns
  > .level-three
  > .job-item {
  display: flex;
  --width: 125px;
  height: 20px;
  align-items: center;
  justify-content: center;
  --margin: 5px 15px;
  margin: 5px 5px;
  --flex: 1 1 auto;
}

.body-detail
  > .add-jobs-2
  > .add-job-container
  > .level-columns
  > .level-three
  > .job-item.clicked {
  border: 1px solid #333333;
  border-radius: 15px;
}

.body-detail > .add-jobs-2 > .add-job-container > .level-columns > div > div {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font: normal normal medium 12px/15px Apple SD Gothic Neo;
  font-size: 12px;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
  --border: 1px solid #cccccc;
  cursor: pointer;
}

.body-detail > .add-jobs-2 > .add-job-container > .selected-jobs-container {
  display: flex;
  align-items: center;
}

.body-detail
  > .add-jobs-2
  > .add-job-container
  > .selected-jobs-container
  > .selected-jobs-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  --justify-content: center;
  width: 661px;
  --width: 100%;
  height: 40px;
  border-top: 1px solid #dddddd;
}

.body-detail
  > .add-jobs-2
  > .add-job-container
  > .selected-jobs-container
  > .selected-jobs-content
  > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 15px;
  height: 20px;
  color: #009999;
  margin: 0 2px;
  box-sizing: border-box;
  font-size: 12px;
  padding: 5px;
  margin: 0 5px;
}

.body-detail
  > .add-jobs-2
  > .add-job-container
  > .selected-jobs-container
  > .selected-jobs-content
  > div
  > .selected-job-close {
  margin: 0 5px;
  color: #dddddd;
  font-size: 8px;
  cursor: pointer;
}

.body-detail
  > .add-jobs-2
  > .add-job-container
  > .selected-jobs-container
  > .select-completed-btn {
  width: 129px;
  height: 40px;
  background: #009999 0% 0% no-repeat padding-box;
  border: 1px solid #009999;
  text-align: center;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
} */
/* 직무 추가하기 */

#career-info > .title-container > .title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 20px/24px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

#career-info > .body-detail > .employ-type > .basic-single {
  width: 340px;
  height: 40px;
  margin-right: 20px;
}

.employ-type .radio {
  display: inline-block;
  margin-right: 20px;
}

#career-info .title-container {
  display: flex;
  justify-content: space-between;
}

#career-info .division-line {
  width: 100%;
  margin-left: 0px;
  border: 2px solid var(--unnamed-color-707070);
  border: 2px solid #707070;
  opacity: 1;
}
