#career-info {
  margin-top: 80px;
}
.body-detail {
}
#career-info .title-container {
  display: flex;
  justify-content: space-between;
}
#career-info .add-items {
  cursor: pointer;
  font: normal normal 500 15px/19px Noto Sans KR;
  color: #009999;
}

.company-input-close {
  display: flex;
  justify-content: space-between;
  width: 880px;
  height: 40px;
  margin: 0px 0px 10px 0px;
}

.input-style {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  width: 340px;
  height: 40px;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #eeeeee 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  outline: 0px;
  --opacity: 1;
}

.employ-type .employ-type-style {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-16)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
}

.employ-type {
  display: flex;
  align-items: center;
  margin: 0px 0px 10px 0px;
}

/* .employ-select {
  outline: none;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #eeeeee 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  width: 340px;
  height: 40px;
  opacity: 1;
  margin: 0px 0px 0px 24px;
} */

.employ-type .employ-period {
  border: 1px solid var(--unnamed-color-dddddd);
  --background: #e0e0e0 0% 0% no-repeat padding-box;
  border: 1px solid #bebebe;
  opacity: 1;
  width: 160px;
  height: 40px;
  margin-right: 20px;
}

.employ-type .date {
  width: 160px;
  height: 40px;
  margin-right: 20px;
}

.employ-type .zero-outline {
  outline: 0px;
}

.employ-type .employ-period-input {
  border: 1px solid var(--unnamed-color-dddddd);
  --background: #e0e0e0 0% 0% no-repeat padding-box;
  border: 1px solid #bebebe;
  opacity: 1;
  width: 160px;
  height: 40px;
  margin-right: 20px;
}

.employ-type .present {
  align-self: center;
  margin: 0px 0px 0px 15px;
}

.job-container {
  width: 880px;
  height: 64px;
  display: flex;
  justify-content: flex-end;
}

.job-container > .job-content {
  display: flex;
  align-items: center;
  position: relative;
  --border: 1px solid blue;
  width: 790px;
  height: 64px;
  margin-left: 90px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  border-radius: 5px;
  opacity: 1;
  padding: 12px 36px 12px 0px;
}

.job-content > .job-title {
  margin: 0px 0px 0px 23px;
  width: 90px;
  height: 64px;
  font-size: 13px;
  display: flex;
  align-items: center;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-16)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

.job-content > .add-jobs {
  width: 669px;
  height: 40px;
  background: none;
  border: 1px solid #009999;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--버튼-색상);
  text-align: center;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #009999;
}

.job-content > .add-jobs:focus {
  outline: none;
}

.job-container > .job-content > .select-job-container {
  position: absolute;
  width: 643px;
  height: 360px;
  background: #ffffff;
  border: 1px solid #dddddd;
  left: 109px;
  top: 51px;
  opacity: 1;
}

.job-container > .job-content > .select-job-container > .level-columns {
  display: flex;
}

.job-container
  > .job-content
  > .select-job-container
  > .level-columns
  > .level-one,
.job-container
  > .job-content
  > .select-job-container
  > .level-columns
  > .level-two {
  /* display: flex;
  flex-direction: column; */
  width: 176px;
  height: 319px;
  border-right: 1px solid #dddddd;
  overflow-y: auto;
  --flex: 1 1 auto;
}

.job-container
  > .job-content
  > .select-job-container
  > .level-columns
  > .level-three {
  width: 289px;
  height: 319px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.job-container
  > .job-content
  > .select-job-container
  > .level-columns
  > .level-one
  > div,
.job-container
  > .job-content
  > .select-job-container
  > .level-columns
  > .level-two
  > div {
  padding: 15px 10px 10px 10px;
  --margin-top: 10px;
  --flex: 1 1 0;
  --height: 40px;
}

.job-container
  > .job-content
  > .select-job-container
  > .level-columns
  > .level-three
  > .job-item {
  display: flex;
  --width: 125px;
  height: 20px;
  align-items: center;
  justify-content: center;
  --margin: 5px 15px;
  margin: 5px 5px;
  --flex: 1 1 auto;
}

.job-container
  > .job-content
  > .select-job-container
  > .level-columns
  > .level-three
  > .job-item.clicked {
  border: 1px solid #333333;
  border-radius: 15px;
}

/* .job-container
  > .job-content
  > .select-job-container
  > .level-columns
  > div
  > .level-three-item.job-clicked {
  border: 1px solid #dddddd;
  border-radius: 15px;
} */

.job-container
  > .job-content
  > .select-job-container
  > .level-columns
  > div
  > div {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font: normal normal medium 12px/15px Apple SD Gothic Neo;
  font-size: 12px;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
  --border: 1px solid #cccccc;
  cursor: pointer;
}

.job-container
  > .job-content
  > .select-job-container
  > .selected-items-container {
  display: flex;
  align-items: center;
}

.job-container
  > .job-content
  > .select-job-container
  > .selected-items-container
  > .selected-items-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  --justify-content: center;
  width: 540px;
  height: 40px;
  border-top: 1px solid #dddddd;
  margin: 0 5px;
  --padding: 3px;
}

.job-container
  > .job-content
  > .select-job-container
  > .selected-items-container
  > .selected-items-content
  > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 15px;
  height: 20px;
  color: #009999;
  margin: 0 2px;
  box-sizing: border-box;
  font-size: 12px;
  padding: 5px;
}

.job-container
  > .job-content
  > .select-job-container
  > .selected-items-container
  > .selected-items-content
  > div
  > .selected-job-close {
  margin: 0 5px;
  color: #dddddd;
  font-size: 8px;
  cursor: pointer;
}

.job-container
  > .job-content
  > .select-job-container
  > .selected-items-container
  > .select-completed-btn {
  width: 129px;
  height: 40px;
  background: #009999 0% 0% no-repeat padding-box;
  border: 1px solid #009999;
  text-align: center;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.job-container > .job-content > .select-detail-job-container {
  position: absolute;
  width: 643px;
  height: 360px;
  background: #ffffff;
  border: 1px solid #dddddd;
  left: 109px;
  top: 51px;
  opacity: 1;
}

.job-container
  > .job-content
  > .select-detail-job-container
  > .previous-selected-jobs {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #dddddd;
}

.job-container
  > .job-content
  > .select-detail-job-container
  > .previous-selected-jobs
  > div {
  box-sizing: border-box;
  padding: 2px;
  font-size: 14px;
  border-radius: 15px;
  margin: 0 5px;
  border: 1px solid #dddddd;
  color: #dddddd;
}

/* .job {
  width: 664px;
  height: 40px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-009999);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #009999;
  opacity: 1;
  margin: 0px 0px 0px 38px;

  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .job > div {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-16)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-009999);
  text-align: center;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #009999;
  opacity: 1;
} */

/* .basic-multi-select {
  width: 664px;
  height: 40px;
} */

/* .multi-selector {
  width: 664px;
  height: 40px;
} */

#career-info > .title-container > .title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 20px/24px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

#career-info > .body-detail > .employ-type > .basic-single {
  width: 340px;
  height: 40px;
  margin-right: 20px;
}

.employ-type .radio {
  display: inline-block;
  margin-right: 20px;
}

#career-info .title-container {
  display: flex;
  justify-content: space-between;
}
