.driver-info {
  margin-top: 80px;
}
.driver-info .title-container {
  display: flex;
  justify-content: space-between;
}
.driver-info .title-container .driver-title {
  position: relative;
  font: normal normal 700 20px/24px Noto Sans KR;
  color: #333333;
}
.driver-info .title-container .add-items {
  font: normal normal 500 15px/19px Noto Sans KR;
  color: #009999;
  cursor: pointer;
}
.driver-info section.body-detail:not(:nth-of-type(1)) {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 20px;
}
.driver-info .body-detail .year-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.driver-info .body-detail .year-close .acquisition {
  width: 250px;
}
.driver-info .body-detail .year-close .acquisition .acquisition-date {
  width: 160px;
  height: 40px;
  padding-left: 16px;
  background: #fff;
  border: 1px solid #ddd;
  font: normal normal 500 13px/16px Noto Sans KR;
  color: #666666;
}
.driver-info .body-detail .wrapper {
}
.driver-info .body-detail .qualification,
.driver-info .body-detail .rating,
.driver-info .body-detail .institution {
  width: 430px;
}
.driver-info .body-detail .qualification .input-box,
.driver-info .body-detail .rating .input-box,
.driver-info .body-detail .institution .input-box {
  width: 340px;
  height: 40px;
  padding-left: 16px;
  background: #fff;
  border: 1px solid #ddd;
  font: normal normal 500 13px/16px Noto Sans KR;
  color: #666666;
}
.driver-info .body-detail .qualification {
  margin-right: 20px;
}
