.education-info {
  padding-top: 70px;
}
.education-info input,
.education-info select {
  appearance: none;
}
.education-info .education-title {
  position: relative;
  font: normal normal 700 20px/24px Noto Sans KR;
  color: #333333;
}
.education-info .final-content {
  width: 430px;
}
.education-info .select-education {
  width: 340px;
  height: 40px;
  padding-left: 16px;
  background: #fff;
  border: 1px solid #ddd;
  font: normal normal 500 13px/16px Noto Sans KR;
  color: #666666;
}
.education-info .education-container {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}
.education-info .education-container .first-row {
}
.education-info .education-container .first-row .level {
  width: 70px;
  margin-right: 20px;
}

.education-info .education-container .first-row .name-school {
  width: 340px;
  margin-right: 20px;
}
.education-info .education-container .first-row .name-school .title-input {
  width: 250px;
  height: 40px;
  padding-left: 16px;
  background: #fff;
  border: 1px solid #ddd;
  font: normal normal 500 13px/16px Noto Sans KR;
  color: #666666;
}
.education-info .education-container .first-row .in-school-period {
  width: 430px;
}
.education-info
  .education-container
  .first-row
  .in-school-period
  .input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 340px;
}
.education-info
  .education-container
  .first-row
  .in-school-period
  .in-school-period-input {
  width: 160px;
  height: 40px;
  padding-left: 16px;
  background: #fff;
  border: 1px solid #ddd;
  font: normal normal 500 13px/16px Noto Sans KR;
  color: #666666;
}
.education-info .education-container .second-row {
  padding-left: 90px;
}
.education-info .education-container .second-row .location {
  width: 340px;
  margin: 0 20px 10px 0;
}
.education-info .education-container .second-row .location .location-input {
  width: 250px;
  height: 40px;
  padding-left: 16px;
  background: #fff;
  border: 1px solid #ddd;
  font: normal normal 500 13px/16px Noto Sans KR;
  color: #666666;
}
.education-info .education-container .second-row .major-content {
  width: 340px;
}
.education-info
  .education-container
  .second-row
  .major-content
  .select-add-wrap {
  position: relative;
}
.education-info
  .education-container
  .second-row
  .major-content
  .select-add-wrap
  .add-major {
  position: absolute;
  width: 70px;
  height: 40px;
  right: -90px;
  outline: none;
  border: 1px solid #009999;
  background: #fff;
  font: normal normal 500 13px/16px Noto Sans KR;
  color: #009999;
}
.education-info .education-container .second-row .major-content .select-major {
  width: 250px;
  height: 40px;
  padding-left: 16px;
  background: #fff;
  border: 1px solid #ddd;
  font: normal normal 500 13px/16px Noto Sans KR;
  color: #666666;
}
.education-info .education-container .major-content-add {
  width: 430px;
  padding-left: 90px;
  margin-top: 10px;
}
.education-info .education-container .major-content-add .select-add-wrap {
  position: relative;
}
.education-info
  .education-container
  .major-content-add
  .select-add-wrap
  .close-info {
  position: absolute;
  width: 70px;
  height: 40px;
  right: -90px;
  outline: none;
  border: none;
  text-align: left;
  background: #fff;
  font: normal normal 500 13px/16px Noto Sans KR;
  color: #009999;
}
.education-info .education-container .major-content-add .select-major {
  width: 250px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #ddd;
  background: #fff;
  color: #666666;
  font: normal normal 500 13px/16px Noto Sans KR;
}
.education-info .education-container .after-transfer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}
.education-info .integrated {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}
.education-info .integrated input[type='checkbox'] + .el-checkbox-style {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: #fff;
}
.education-info
  .integrated
  input[type='checkbox']:checked
  + .el-checkbox-style:after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(0, 153, 153, 0.6);
}
.education-info .integrated .integrated-title {
  color: #666666;
  font: normal normal 500 13px/16px Noto Sans KR;
}
