.footer-container {
  margin-top: 48px;
  border-top: 1px solid #cccccc;
  height: 310px;
  background: #f9f9fb;
}
.footer-inner {
  max-width: 1060px;
  margin: 0 auto;
}
.footer-menu {
  display: flex;
  padding: 18px 0;
}
.footer-menu .fm-list {
  margin-right: 28px;
  padding: 2px 28px 2px 0;
  border-right: 1px solid #ccc;
  font: normal normal 500 13px/14px Noto Sans KR;
  color: #707070;
}

.footer-menu .fm-list:last-child {
  border: none;
}

.footer-copy-wrap {
  border-top: 1px solid #ccc;
  padding: 44px;
  color: #999;
}

.footer-copy-wrap .footer-inner {
  display: flex;
  align-items: flex-start;
}

.footer-copy-wrap .footer-inner .footer-logo {
  width: 100px;
  margin: 6px 32px 0 0;
}

.footer-copy-wrap .footer-txt-wrap .corp-name {
  font: normal normal 700 15px/23px Noto Sans KR;
}
.footer-copy-wrap .footer-txt-wrap .txt {
  font: normal normal 500 13px/23px Noto Sans KR;
}
.footer-copy-wrap .footer-txt-wrap .copyright {
  font: normal normal 700 13px/23px Noto Sans KR;
  color: #ccc;
  display: block;
  margin-top: 24px;
}

.footer-copy-wrap .direct-wrap {
  margin-left: auto;
  color: #707070;
}
.footer-copy-wrap .direct-wrap .direct-menu {
  margin-top: 6px;
  width: 250px;
  border-top: 1px solid #ccc;
}

.footer-copy-wrap .direct-menu .di-list {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 32px;
  font: normal normal 500 13px/19px Noto Sans KR;
  border-bottom: 1px solid #ccc;
}
.footer-copy-wrap .direct-menu .di-list .di-ico {
  display: block;
  margin-right: 40px;
}
.footer-copy-wrap .direct-menu .di-list .di-txt {
}
