@import '~react-image-gallery/styles/css/image-gallery.css';
.recruit-container {
  display: flex;
  justify-content: center;
}
.recruit-container .filter-container {
  position: sticky;
  top: 200px;
  left: 10px;
  z-index: 99;
  width: 160px;
  height: 168px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  border-radius: 5px;
  opacity: 1;
}
.recruit-container .filter-container .filter-search {
  border: none;
  outline: none;
  width: 160px;
  height: 48px;
  background: #ffffff0d 0% 0% no-repeat padding-box;
  opacity: 1;
}
.search-input {
  outline: none;
  width: 822px;
  height: 50px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 0 24px;
}
.search-input::placeholder {
  color: #999999;
}
.filter-search2 {
  border: none;
  outline: none;
  width: 128px;
  height: 50px;
  background: #f0f0f0;
  border-radius: 5px;
}
.recruit-container .recruit-content .search-btn {
  border: none;
  outline: none;
  width: 70px;
  height: 50px;
  background: #009999 0% 0% no-repeat padding-box;
  border-radius: 5px;
  margin: 0 20px;
  color: #fff;
}
.status-div {
  display: flex;
  align-items: center;
  width: 1060px;
  height: 70px;
  margin-top: 20px;
  padding: 0 24px;
  background: transparent linear-gradient(95deg, #009999 0%, #57227e 100%);
  border-radius: 5px;
}
.status-div .icon-profile {
  margin-right: 16px;
}
.status-div .text {
  font: normal normal 500 16px/24px Noto Sans KR;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-right: auto;
}
.status-div .btn {
  width: 226px;
  height: 40px;
  font: normal normal 700 16px/24px Noto Sans KR;
  background: #fff;
  border: 0;
  border-radius: 5px;
}
.btn-content {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.btn-content .btn-item {
  outline: none;
  border: none;
  width: 160px;
  height: 34px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 60px;
  margin-right: 20px;
}
.btn-content .btn-item.active {
  border: 0;
  background: #009999;
}
.btn-content .btn-item:last-child {
  margin-right: 0;
}
.btn-content .btn-text {
  font: normal normal 500 15px/26px Noto Sans KR;
  color: #707070;
}
.btn-content .btn-item.active .btn-text {
  color: #fff;
}
.banner-lg-cont {
  margin-bottom: 20px;
}
.banner-md-cont {
  display: flex;
  flex-flow: row;
  width: 1060px;
}
.banner-md-cont .banner-md {
  position: relative;
  width: 520px;
  height: 130px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.banner-md-cont .banner-md:nth-child(odd) {
  margin-right: 20px;
}
.banner-md .overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.banner-sm-cont {
  display: flex;
  flex-flow: row;
  width: 1060px;
}
.banner-sm-cont .banner-sm {
  display: flex;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  width: 250px;
  height: 190px;
  margin-right: 20px;
}
.banner-sm-cont .banner-sm:last-child {
  margin-right: 0;
}
.banner-sm-cont .banner-sm img {
  width: 250px;
  object-fit: cover;
  object-position: 50% 0%;
}
.banner-sm .overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.banner-sm .corp-txt-wrap {
  z-index: 1;
  position: absolute;
  padding: 0 28px;
  bottom: 20px;
  width: 100%;
  color: #fff;
}
.corp-txt-wrap .title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #fff;
  padding-bottom: 4px;
  margin-bottom: 4px;
}
.corp-txt-wrap .title .company-name-lar {
  font: normal normal 700 15px/21px Noto Sans KR;
}
.corp-txt-wrap .title .closing-time {
  font: normal normal 400 9px/13px Noto Sans KR;
}
.corp-txt-wrap .company-name-mid {
  display: block;
  font: normal normal 500 13px/26px Noto Sans KR;
}
.corp-txt-wrap .company-name-sm {
  display: block;
  font: normal normal 500 9px/9px Noto Sans KR;
}
.span-content {
  display: block;
  font: normal normal 700 22px/32px Noto Sans KR;
  margin-top: 48px;
  margin-bottom: 16px;
}
.help-cont {
  display: flex;
}
.help-cont .help-item {
  flex: 1 1 auto;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  margin-right: 20px;
  padding: 15px;
  height: 142px;
  background: #eeeeee;
  border-radius: 5px;
}

.help-cont .help-item:last-child {
  margin-right: 0;
}

.help-cont .help-item .circul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: #ffffff;
  border-radius: 100%;
  margin-bottom: 14px;
}

.help-cont .help-item .img-span {
  font: normal normal 700 15px/20px Noto Sans KR;
}

.calender-container {
  width: 1060px;
}

.calender-container .calender-content-date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.calender-container .calender-span {
  font: normal normal 700 20px/32px Noto Sans KR;
}

.calender-container .calender-span .mon,
.calender-container .calender-span .day {
  color: #009999;
}

.calender-container .calender-left,
.calender-container .calender-right {
  padding: 0;
  border: 0;
  outline: 0;
  background: #fff;
}

.calender-container .calender-left .ico,
.calender-container .calender-right .ico {
  display: block;
  width: 32px;
  height: 32px;
}

.calender-inner {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-bottom: 16px;
}

.calender-inner .list-day {
  display: flex;
  justify-content: space-around;
  padding: 13px 5px 8px;
  background: #f0f0f0;
}
.calender-inner .list-day .day {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.calender-inner .list-day .day:first-child .txt {
  color: #fe5741;
}
.calender-inner .list-day .day:last-child .txt {
  color: #577d95;
}
.calender-inner .list-day .day .txt {
  display: block;
  font: normal normal 500 14px/20px Noto Sans KR;
  color: #666666;
}
.calender-inner .list-day .day .number {
  display: block;
  font: normal normal 700 18px/26px Noto Sans KR;
  color: #666666;
}

.calender-inner .calender-disp {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(7, 150px);
  grid-template-rows: repeat(10, 58px);
  margin: 8px 5px;
}

.calender-inner .calender-disp .calender-item {
  padding: 6px 12px;
}
.calender-inner .calender-disp .calender-item .img-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.calender-inner .calender-disp .calender-item .img-inner {
  display: flex;
  align-items: center;
}

.calender-inner .calender-disp .calender-item .img-inner .bookmark {
  width: 8px;
  height: 12px;
  display: block;
  margin-right: 4px;
}
.calender-inner .calender-disp .calender-item .img-inner .closing-time {
  font: normal normal 700 10px/15px Noto Sans KR;
  color: #009999;
}
.calender-inner .calender-disp .calender-item .logo {
  width: 48px;
  margin-top: 3px;
}

.calender-inner .calender-disp .calender-item .txt-wrap {
  display: flex;
  flex-flow: wrap column;
  align-items: flex-start;
  justify-content: center;
  margin-top: -4px;
}
.calender-inner .calender-disp .calender-item .txt-wrap .corp-name {
  display: block;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font: normal normal 500 10px/15px Noto Sans KR;
  color: #707070;
}
.calender-inner .calender-disp .calender-item .txt-wrap .txt {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font: normal normal 500 10px/15px Noto Sans KR;
  color: #aaa;
  transform: scale(0.95);
}
.calender-inner .btn-more-wrap {
  display: flex;
  justify-content: space-around;
  margin: 0 5px;
}
.calender-inner .btn-more-wrap .btn-more {
  width: 48px;
  height: 24px;
  font: normal normal 500 11px/16px Noto Sans KR;
  color: #999999;
  outline: none;
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 24px;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.image-gallery-slides {
  width: 1060px;
  height: 250px;
  position: relative;
}

.image-gallery-bullets {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 15px;
  bottom: 10px;
}

.image-gallery-bullets .image-gallery-bullet {
  box-shadow: none;
  margin: 0 2px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 4px;
}
.image-gallery-bullets .image-gallery-bullet.active {
  background: #fff;
}
.image-gallery-bullets .image-gallery-bullet:hover {
  background: #009999;
}

.image-gallery-slides {
  background: #000;
  border-radius: 5px;
  overflow: hidden;
}
.image-gallery-image {
  opacity: 0.6;
}
.main-btn-cont {
  display: flex;
  flex-flow: wrap row;
  width: 1060px;
  height: 560px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.main-btn-cont .main-btn-wrap {
  width: 250px;
  height: 560px;
  border-right: 1px solid #ccc;
  overflow: auto;
}
.main-btn-cont .main-btn-wrap button {
  display: block;
  width: 100%;
  height: 56px;
  border: 0;
  background: #fff;
  color: #ddd;
  font: normal normal 700 15px/22px Noto Sans KR;
  text-align: left;
  padding-left: 24px;
}
.main-btn-cont .main-btn-wrap.active button {
  color: #707070;
}
.main-btn-cont .main-btn-wrap button.active {
  color: #009999;
  background: #f4faf7;
}
