#mypage-container {
  width: 1060px;
  height: 841px;
  border: 1px solid #dddddd;
  margin: 0 auto;
}

#mypage-container > #mypage-content {
  width: 880px;
  margin: 87px auto 0px auto;
}

#mypage-content > .profile-title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-29)
    var(--unnamed-font-family-noto-sans-kr);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 20px/29px Noto Sans KR;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

#mypage-content > .div-line {
  margin: 5px 0 0 0;
  width: 100%;
}

#mypage-content > .info {
  margin: 30px 0 0 0;
  display: flex;
}

#mypage-content > .info > .pic > img {
  border: 1px solid #cccccc;
}

#mypage-content > .info > .pic > .buttons button {
  width: 80px;
  height: 40px;
  border: none;
}

#mypage-content > .info > .pic > .buttons button:focus {
  outline: none;
}

#mypage-content > .info > .pic > .buttons > .change-btn {
  background: #009999 0% 0% no-repeat padding-box;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) 13px/16px Apple SD Gothic Neo;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 13px/16px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#mypage-content > .info > .basic {
  margin-left: 20px;
  --display: flex;
}

#mypage-content > .info > .basic > input {
  padding: 16px;
}

#mypage-content > .info > .basic > .font-style {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-20) var(--unnamed-font-family-noto-sans-kr);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

#mypage-content > .info > .basic > .input-name {
  margin-left: 64px;
  width: 250px;
  height: 40px;
}

#mypage-content > .info > .basic > .gender {
  margin-left: 20px;
}

#mypage-content > .info > .basic > .male {
  margin-left: 64px;
  width: 115px;
  height: 40px;
  border: 1px solid #cccccc;
}

#mypage-content > .info > .basic > .female {
  width: 115px;
  height: 40px;
  border: 1px solid #cccccc;
}

#mypage-content > .info > .basic > .birth {
  width: 250px;
  height: 40px;
  margin: 10px 0 0 32px;
}

#mypage-content > .info > .basic > .phone-title {
  margin-left: 20px;
}

#mypage-content > .info > .basic > .input-phone {
  width: 230px;
  height: 40px;
  margin-left: 32px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  opacity: 1;
}

#mypage-content > .info > .basic > .input-phone:focus {
  outline: none;
}

#mypage-content > .info > .basic > .change-phone-btn {
  width: 50px;
  height: 19px;
  margin-left: -50px;
  border: none;
  background: none;

  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 15px/19px Noto Sans KR;
  letter-spacing: 0px;
  color: #009999;
  opacity: 1;
}

#mypage-content > .info > .basic > .change-phone-btn:focus {
  outline: none;
}

#mypage-content > .info > .basic > .input-email {
  margin: 10px 0 0 48px;
  width: 250px;
  height: 40px;
}

#mypage-content > .info > .basic > .job-status {
  margin-left: 20px;
}

#mypage-content > .info > .basic > .select-job-status {
  display: inline-flex;
  margin-left: 32px;
}

#mypage-content > .info > .basic > .basic-div {
  width: 100%;
}

#mypage-content > .info > .basic > .mailing-avail {
  display: flex;
}

#mypage-content > .info > .basic > .mailing-avail .font-style {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-20) var(--unnamed-font-family-noto-sans-kr);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

#mypage-content > .info > .basic > .mailing-avail > .content {
  --border: 1px solid black;
  width: 400px;
  margin-left: 39px;
}

#mypage-content > .info > .basic > .mailing-avail > .content > button {
  border: 1px solid black;
  background: none;
  width: 50px;
  height: 20px;
}

#mypage-content > .info > .basic > .mailing-avail > .content > button:focus {
  outline: none;
}

#mypage-content > .info > .basic > .mailing-avail > .content > .marketing-btn {
  margin-left: 50px;
}

#mypage-content > .info > .basic > .mailing-avail > .content > .job-offer-btn {
  margin-left: 76px;
}

#mypage-content > .info > .basic > .mailing-avail > .content > .noti-event-btn {
  margin-left: 141px;
}

#mypage-content > .info > .basic > .mailing-avail > .content > .like-btn {
  margin-left: 127px;
}

/* customize --------------------------------------------------------------------*/
#mypage-content > .customize-job > .header {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mypage-content > .customize-job .title-content > .title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-24) Apple SD Gothic
    Neo;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 20px/24px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

#mypage-content > .customize-job .title-content > .sub-title {
  margin-left: 10px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-20) var(--unnamed-font-family-noto-sans-kr);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

#mypage-content > .customize-job > .header > .submit {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-20) var(--unnamed-font-family-noto-sans-kr);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #009999;
  background: none;
  opacity: 1;
  border: none;
}

#mypage-content > .customize-job > .submit:focus {
  outline: none;
}

#mypage-content > .customize-job > .job-div {
  margin-top: 5px;
}
