.navbar-wrapper {
}

.navbar-inner {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1080px;
  z-index: 999;
  background: #fff;
  box-shadow: 0px 2px 5px #00000029;
  font-family: 'Noto Sans', sans-serif;
}

.navbar-list {
  display: flex;
  flex-flow: wrap row;
}

.navbar-brand {
  width: 100px;
}

.fapply_logo {
  width: 100%;
  display: block;
}

.nav-link {
  font: normal normal 18px/21px 'Noto Sans', sans-serif;
  text-align: center;
  color: #707070;
}

.container {
  padding-bottom: 60px;
  --margin: 0px 50px 0px 50px;
}
