.navbar-wrapper {
}

.navbar-inner {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 999;
  box-shadow: 0px 2px 5px #00000029;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1060px;
  height: 60px;
  font-family: 'Noto Sans KR', sans-serif;
}

.navbar-nav {
  display: flex;
  flex-flow: wrap row;
}

.navbar-brand {
  width: 100px;
  margin-right: 85px;
}

.navbar-brand .fapply_logo {
  width: 100%;
  display: block;
}

.nav-item {
  margin-right: 35px;
}

.nav-item .nav-link {
  font: normal normal 500 16px/21px 'Noto Sans KR', sans-serif;
  text-align: center;
  color: #707070;
}

.navbar-wrapper .nav-item {
  display: flex;
  align-items: center;
}

.navbar-wrapper .navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-wrapper .utility button {
  border: none;
  background: none;
}

.navbar-wrapper .utility button:focus {
  outline: none;
}
