.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.popup .popup-inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-basis: 700px;
  padding: 60px 70px 40px;
  background: #fff;
  border-radius: 5px;
}
.popup-inner .title {
  text-align: center;
  font: normal normal 700 18px/21px 'Noto Sans KR', sans-serif;
}
.popup-inner .table-wrapper {
  display: flex;
  border: 1px solid #ddd;
  margin: 10px 0;
}
.popup-inner .btn-style {
  width: 90px;
  height: 35px;
  outline: none;
  border: none;
  color: #666;
  background: #fff;
  text-align: left;
}
.popup-inner .table-wrapper .table-01 {
  flex-basis: 198px;
  height: 244px;
  overflow: auto;
}
.popup-inner .table-wrapper .table-02 {
  flex-basis: 360px;
  height: 244px;
  overflow: auto;
  display: flex;
  flex-flow: wrap row;
}
.popup-inner .btn-confirm {
  outline: none;
  border: none;
  width: 160px;
  height: 35px;
  background: #009999;
  color: #fff;
  font: normal normal 700 13px/16px 'Noto Sans KR', sans-serif;
}
