.portf-info {
  margin-top: 80px;
}
.portf-info input {
  height: 40px;
  padding-left: 16px;
  background: #fff;
  border: 1px solid #ddd;
  font: normal normal 500 13px/16px Noto Sans KR;
  color: #666666;
}
.portf-info .title-container {
  display: flex;
  justify-content: space-between;
}
.portf-info .title-container .portf-title {
  position: relative;
  font: normal normal 700 20px/24px Noto Sans KR;
  color: #333333;
}
.portf-info .title-container .add-items {
  font: normal normal 500 15px/19px Noto Sans KR;
  color: #009999;
  cursor: pointer;
}
.portf-info .url-link-container .close-portfolio {
  margin-left: auto;
}
.portf-info .url-link-content {
  width: 610px;
}
.portf-info .url-link-content .link-input {
  width: 520px;
}
.portf-info .file-attach {
  width: 610px;
}
.portf-info .file-attach span {
  margin-right: 20px;
}
.portf-info .file-attach .file-input {
  width: 430px;
  margin-right: 20px;
}
.portf-info .file-attach .add-file {
  width: 70px;
  height: 40px;
  border: 1px solid #009999;
  background: #fff;
  color: #009999;
  font: normal normal 500 13px/16px Noto Sans KR;
}
