.recruit-container .filter-container {
  position: fixed;
  top: 200px;
  left: 10px;
  z-index: 99;
  width: 160px;
  height: 168px;
  background: #ffffff;
  border: 1px solid #dddddd;
  overflow: hidden;
  border-radius: 5px;
}
.recruit-container .filter-container .filter-search {
  border: none;
  outline: none;
  width: 144px;
  height: 48px;
  background: #009999;
  color: #fff;
  border-radius: 5px;
  margin: 8px 8px;
}
.filter-container .filter-popular,
.filter-container .filter-today {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  width: 160px;
  height: 48px;
  background: #ffffff;
}
.recruit-container .recruit-content {
  position: relative;
}
.recruit-content .recruit-title {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.recruit-title .title {
  font: normal normal 700 22px/32px Noto Sans KR;
  color: #333333;
  margin-right: 16px;
}
.recruit-title .btn-power,
.recruit-title .btn-common {
  outline: none;
  border: 1px solid #ddd;
  padding: 0;
  width: 80px;
  height: 32px;
  margin-right: 8px;
  color: #707070;
  background: #fff 0% 0% no-repeat padding-box;
  border-radius: 32px;
  font: normal normal 700 16px/24px Noto Sans KR;
}
.recruit-title .btn-power.active,
.recruit-title .btn-common.active {
  outline: none;
  border: none;
  width: 80px;
  height: 32px;
  background: #009999 0% 0% no-repeat padding-box;
  color: #fff;
  border-radius: 32px;
  font: normal normal 700 16px/24px Noto Sans KR;
}
.recruit-banner-cont {
  display: flex;
  flex-flow: wrap row;
  margin-bottom: 20px;
}
.recruit-banner-cont:last-child {
  margin-bottom: 0;
}
.recruit-banner-cont .banner-sm {
  margin-right: 20px;
}
.recruit-banner-cont .banner-sm:last-child {
  margin-right: 0;
}
.recruit-banner-cont .banner-sm img {
  display: block;
}
.recruit-content .search-popup {
  position: absolute;
  top: 58px;
  z-index: 99;
  width: 1060px;
  height: 410px;
  background: #ffffff;
}
.search-popup .tab-container {
  display: flex;
  flex-flow: wrap row;
  width: 1060px;
  height: 50px;
  background: #f0f0f0;
}
.search-popup .tab-content {
  outline: none;
  width: 90px;
  height: 50px;
  background: #f0f0f0;
  border-top: 1px solid #ddd;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font: normal normal 500 16px/24px Noto Sans KR;
  color: #666666;
}
.search-popup .tab-content:nth-of-type(1) {
  border: 1px solid #009999;
  background: #fff;
  color: #009999;
  font: normal normal 700 16px/24px Noto Sans KR;
}
.search-popup .tab-content-input {
  width: 430px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #009999;
  padding-left: 24px;
}
.search-popup .tab-content-input::placeholder {
  color: #999999;
}
.recruit-content .general-container {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 0;
  border-left: 1px solid #ddd;
}
.recruit-content .general-container:last-child {
  border: 1px solid #ddd;
}
.general-container {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  width: 1060px;
  height: 128px;
}
.general-content {
  display: flex;
  flex-flow: wrap row;
  width: 215px;
  padding: 0 16px 0 32px;
  margin: 20px 0;
  justify-content: space-between;
  border-right: 1px solid #dddddd;
}
.general-content .d-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 24px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #009999;
  border-radius: 5px;
  opacity: 1;
}
.general-content .d-day > span {
  transform: translate(0, -1px);
  color: var(--unnamed-color-009999);
  text-align: center;
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #009999;
  opacity: 1;
}
.general-content .fav-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 24px;
  padding: 0 4px 0 9px;
  border: 1px solid #dddddd;
  border-radius: 24px;
  cursor: pointer;
}
.general-content .fav-btn.active {
  border: 1px solid #333;
}
.general-content .fav-btn .fav-txt {
  font: normal normal 400 11px/24px Noto Sans KR;
  color: #999999;
  transform: translate(0, -1px);
}
.general-content .fav-btn .fav-txt.active {
  color: #333;
}
.general-content .fav-btn .fav-ico {
  display: block;
  width: 24px;
  height: 24px;
}
.general-content .desc {
  display: flex;
  flex-flow: wrap column;
  margin-top: 15px;
}
.general-content .desc .company-name {
  font: normal normal 700 16px/24px Noto Sans KR;
  color: #333;
}
.general-content .desc .date {
  font: normal normal 400 14px/20px Noto Sans KR;
  color: #999;
}
.general-container .logo-container {
  display: flex;
  align-items: center;
  width: 124px;
  padding: 0 32px;
  border-right: 1px solid #ddd;
}
.general-container .logo-container .company-logo {
  width: 100%;
}
.general-container .detail-container {
  margin: 20px 0;
  padding: 0 24px 0 32px;
  flex: 1 1 auto;
}
.general-container .detail-container .wrapper {
  margin-bottom: 4px;
}
.general-container .detail-container .wrapper .position-name {
  font: normal normal 500 16px/24px Noto Sans KR;
  color: #333;
}
.general-container .detail-container .wrapper .bookmark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 24px;
  padding: 0 4px 0 9px;
  border: 1px solid #dddddd;
  border-radius: 24px;
  cursor: pointer;
}
.general-container .detail-container .wrapper .bookmark.active {
  border: 1px solid #333;
}
.general-container .detail-container .wrapper .bookmark .bmk-txt {
  font: normal normal 400 11px/24px Noto Sans KR;
  color: #999999;
  transform: translate(0, -1px);
}
.general-container .detail-container .wrapper .bookmark .bmk-txt.active {
  color: #333;
}
.general-container .detail-container .wrapper .bookmark .bmk-ico {
  display: block;
  width: 24px;
  height: 24px;
}
.general-container .detail-container .details {
  margin-bottom: 12px;
}
.general-container .detail-container .details .txt {
  font: normal normal 400 14px/20px Noto Sans KR;
  color: #666666;
}
.general-container .detail-container .details .txt:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #ddd;
  margin: 0 8px;
}
.general-container .detail-container .details .txt:last-child:after {
  content: '';
  display: none;
}
.general-container .detail-container .details-second {
}
.general-container .detail-container .details-second .txt {
  font: normal normal 300 14px/20px Noto Sans KR;
  color: #666666;
  margin-right: 8px;
}
