.resume-body {
  font: normal normal 'Noto Sans', sans-serif;
  display: flex;
  justify-content: center;
  background: #eee;
  box-shadow: 3px 3px 6px #00000029;
  padding-top: 70px;
}

.resume-main {
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  width: 1080px;
  padding: 80px 100px;
}
