.self-info {
  margin-top: 80px;
}
.self-info input {
  height: 40px;
  padding-left: 16px;
  background: #fff;
  border: 1px solid #ddd;
  font: normal normal 500 13px/16px Noto Sans KR;
  color: #666666;
}
.self-info .title-container {
  display: flex;
  justify-content: space-between;
}
.self-info .title-container .self-info-title {
  position: relative;
  font: normal normal 700 20px/24px Noto Sans KR;
  color: #333333;
}
.self-info .title-container .word-count {
  font: normal normal 500 15px/19px Noto Sans KR;
  color: #999;
}
.self-info .text-area {
  width: 880px;
  height: 100px;
  padding: 20px 30px;
  border: 1px solid #ddd;
  font: normal normal 500 13px/16px Noto Sans KR;
  color: #666;
  resize: none;
}
.self-info .text-area::placeholder {
  font: normal normal 500 13px/16px Noto Sans KR;
  color: #ddd;
}
