#signin-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  z-index: 999;
}

#signin-container > #signin-content {
  width: 440px;
  --height: 90vh;
  height: 710px;
  margin: auto auto;
  background: white;
  display: flex;
  flex-direction: column;
}

#signin-content > .logo-close-popup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 17px 20px 0 0;
}

#signin-content > .logo-close-popup > .close-button {
  border: none;
  background: none;
  border-radius: 5px;
}

#signin-content > .logo-close-popup > .close-button:focus {
  outline: none;
}

#signin-content > .fapply_logo {
  margin: 0 auto;
}

#signin-content > .header {
  margin-top: 55px;
  text-align: center;
  font: normal normal bold 23px/32px Noto Sans KR;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

#signin-content > .header > .company-name {
  font-size: 25px;
  color: #000000;
}

#signin-content > .body {
  width: 400px;
  margin: 63px auto;
}

#signin-content > .body > .choose-member {
  display: flex;
}

#signin-content > .body > .choose-member > button {
  width: 230px;
  height: 50px;
  background: none;
  border: 1px solid #cccccc;
  color: black;
  border-radius: 0px 3px 3px 0px;
  opacity: 1;
}

#signin-content > .body > .choose-member > button:focus {
  outline: none;
}

#signin-content > .body > .input-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#signin-content > .body > .input-content > .input-email-phone {
  width: 400px;
  height: 50px;
}

#signin-content > .body > .input-content > input::placeholder {
  color: #909090;
  padding: 10px;
  font-size: 13px;
}

#signin-content > .body > .input-content > .input-password {
  margin-top: 10px;
  width: 400px;
  height: 50px;
}

#signin-content > .body > .signin-find-idpw-content {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

#signin-content > .body > .signin-find-idpw-content > button {
  --border: 1px solid black;
  border: none;
  background: none;
  border-radius: 5px;
  font: normal normal medium Noto Sans KR;
  font-size: 12px;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;

  margin: 0 5px 0 5px;
}

#signin-content > .body .signin-find-idpw-content > button:focus {
  outline: none;
}

#signin-content > .body > .signin-find-idpw-content > .between-line {
  --border: 1px solid #999999;
  color: #999999;
  opacity: 1;
}

#signin-content > .body .signin-throw-social-title {
  margin: 30px 0 0 20px;
}

#signin-content > .body .social-content {
  display: flex;
  justify-content: center;
}

#signin-content > .body .social-content div {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  margin: 0 10px 0 0;
}

#signin-content > .body .signup-fapply {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#signin-content > .body > .signin-button {
  width: 400px;
  height: 50px;
  margin: 20px 0 0 0;
  border: none;
  background: transparent linear-gradient(99deg, #049397 0%, #55267f 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  font: normal normal bold 15px/21px Noto Sans KR;
  letter-spacing: 0px;
  color: #ffffff;
}

#signin-content > .body > .signin-button:focus {
  outline: none;
}

#signin-content > .body .signup-fapply .signup-button {
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  width: 400px;
  height: 40px;
}

#signin-content > .body .signup-fapply .signup-button:focus {
  outline: none;
}

/* Find id pw ---------------------------------------------------------------- */
#find-idpw-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  z-index: 999;
}

#find-idpw-container > .find-idpw-content {
  width: 440px;
  height: 710px;
  margin: auto auto;
  background: white;
}

.find-idpw-content > .logo-close-popup {
  --border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.find-idpw-content > .logo-close-popup > .empty-space {
  width: 70px;
}

.find-idpw-content > .find-buttons {
  width: 400px;
  --border: 1px solid black;
  margin: 63px auto;
}

.find-idpw-content > .find-buttons button {
  border: 1px solid black;
  background: none;
  width: 200px;
  height: 40px;
}

.find-idpw-content > .find-buttons button:focus {
  outline: none;
}

.find-idpw-content > .find-buttons > .id-btn {
  background: #009999 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 3px 0px 0px 3px;
  opacity: 1;
}

.find-idpw-content > .find-buttons > .pw-btn {
  border: 1px solid #cccccc;
  border-radius: 0px 3px 3px 0px;
  opacity: 1;
}

.find-idpw-content > .body {
  width: 400px;
  margin: 63px auto;
}

.find-idpw-content > .body > .input-content > .name {
  width: 100%;
  height: 50px;
  margin: 5px 0 0 0;
}

.find-idpw-content > .body > .input-content > .name::placeholder {
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #cccccc;
  padding: 15px;
  opacity: 1;
}

.find-idpw-content > .body > .input-content > div {
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #666666;
  font-weight: bold;
  --margin-top: 20px;
  opacity: 1;
}

.find-idpw-content > .body > .input-content > .phone-title-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.find-idpw-content > .body > .input-content > .phone-title-content > .title {
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
  font-weight: bold;
}

.find-idpw-content > .body > .input-content > .phone-title-content > .guide {
  font: normal normal medium 11px/16px Noto Sans KR;
  font-size: 12px;
  letter-spacing: 0px;
  color: #cccccc;
  opacity: 1;
}

/* .find-idpw-content > .body > .input-content > .phone-input-content {
  display: flex;
  align-items: center;
} */

.find-idpw-content > .body > .input-content > .phone-input-content > .phone {
  margin-top: 5px;
  width: 300px;
  height: 50px;
}

.find-idpw-content
  > .body
  > .input-content
  > .phone-input-content
  > .phone::placeholder {
  padding: 15px;
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #cccccc;
  opacity: 1;
}

.find-idpw-content
  > .body
  > .input-content
  > .phone-input-content
  > .verify-phone-btn {
  width: 100px;
  height: 50px;
  border: none;
  background: #009999 0% 0% no-repeat padding-box;
  border-radius: 0px 3px 3px 0px;
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.find-idpw-content > .body > .input-content > .verify-confirm-title {
  font-weight: bold;
  margin-top: 20px;
}

.find-idpw-content > .body > .input-content > .verify-input-content {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.find-idpw-content > .body > .input-content > .verify-input-content > .number {
  width: 300px;
  height: 50px;
}

.find-idpw-content
  > .body
  > .input-content
  > .verify-input-content
  > .number::placeholder {
  padding: 15px;
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #cccccc;
  opacity: 1;
}

.find-idpw-content > .body > .input-content > .verify-input-content > .btn {
  border: none;
  width: 100px;
  height: 50px;
  background: #dddddd;
  border-radius: 0px 3px 3px 0px;
  opacity: 1;
}

.find-idpw-content > .body > .input-content > .submit {
  margin-top: 90px;
  width: 100%;
  height: 50px;
  background: none;
  border: 1px solid #aaaaaa;
  font: normal normal bold 15px/21px Noto Sans KR;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
}

/* Signup ---------------------------------------------------------------- */
#signin-content > #signup-container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#signup-container > #signup-content {
  width: 440px;
  --height: 90vh;
  height: 710px;
  margin: 50px auto;
  background: white;
  --border: 1px solid red;
}

#signup-content > .member-close-popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#signup-content > .member-close-popup > .empty-space {
  width: 50px;
}

#signup-content > .member-close-popup > .close-button {
  background: none;
  border: none;
}

#signup-content > .header {
  width: 400px;
  text-align: center;
  margin: 50px auto;
}

#signup-content > .body {
  --border: 1px black solid;
  width: 400px;
  height: 300px;
  margin: 50px auto;
}

#signup-content > .body .check-all-title {
  cursor: pointer;
}

#signup-content > .body .personal-info-collect-title {
  cursor: pointer;
}

#signup-content > .body .age-fourteen-title {
  cursor: pointer;
}

#signup-content > .body .marketing-accept-title {
  cursor: pointer;
}

#signin-container
  #signup-content
  > .body
  .personal-info-collect-container
  div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#signin-container
  #signup-content
  > .body
  .marketing-accept-container
  div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#signup-content > .body > .div-line {
  width: 100%;
  border: 1px solid black;
}

#signup-content > .body .next-button-content {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

#signup-content > .body .next-button-content button {
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  margin-top: 50px;
}

#signup-content > .body .next-button-content button:focus {
  outline: none;
}

#signup-content > .body .view-detail {
  font-size: 13px;
  color: #909090;
  cursor: pointer;
}

#signup-content > .body .personal-info-collect-container .full {
  animation-duration: 1s;
  width: 400px;
  height: 100px;
  resize: none;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
}

#signup-content > .body .personal-info-collect-container .full:focus {
  outline: none;
}

#signup-content .body .personal-info-collect-container .full:disabled {
  background: none;
}

#signup-content .body .marketing-accept-container .full {
  width: 400px;
  height: 100px;
  resize: none;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
}

/* Signup with Phone email ---------------------------------------------------------------- */
#signin-content #with-email-container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#with-email-container > #with-email-content {
  width: 440px;
  height: 710px;
  --height: 90vh;
  margin: 50px auto;
  background: white;
}

#with-email-content > .member-close-popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#with-email-content > .member-close-popup > .empty-space {
  width: 50px;
}

#with-email-content > .member-close-popup > .close-button {
  background: none;
  border: none;
}

#with-email-content > .header {
  --border: 1px solid black;
  width: 400px;
  margin: 50px auto;
  text-align: center;
}

#with-email-content > .header > div {
  font: normal normal bold 23px/32px Noto Sans KR;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

#with-email-content > .body {
  width: 400px;
  height: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

#with-email-content > .body > .input-email-phone {
  border: 1px solid black;
  height: 45px;
  background: none;
  margin-bottom: 6px;
}

#with-email-content > .body > .input-email-phone::placeholder {
  --text-align: center;
  padding-left: 10px;
}

#with-email-content > .body > .input-email-phone:focus {
  outline: none;
}

#with-email-content .body > .submit-email-phone {
  background: none;
  border: 1px solid black;
  height: 45px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
}

#with-email-content > .body > .div-line {
  width: 100%;
}

#with-email-content > .body > .submit-email-phone:focus {
  --outline: none;
}

#with-email-content > .body > .social-channels {
  margin-top: 20px;
  margin: 0 auto;
}

#with-email-content > .body > .social-channels > button {
  background: none;
  border: 1px solid black;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin: 6px 4px;
}

#with-email-content .body button:focus {
  outline: none;
}

#with-email-content .body .guide-text {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
}

#with-email-content .body .guide-text div {
  --font: normal normal medium 11px/16px Noto Sans KR;
  --letter-spacing: 0px;
  --opacity: 1;
}

/*------------------------------------------------------------------------------------------------*/
/* Input signup with Phone email ---------------------------------------------------------------- */
#signin-content #input-with-email-container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#input-with-email-container > #input-with-email-content {
  width: 440px;
  height: 710px;
  --height: 95vh;
  margin: 0 auto;
  background: white;
}

#input-with-email-content > .member-close-popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#input-with-email-content > .member-close-popup > .empty-space {
  width: 50px;
}

#input-with-email-content > .member-close-popup > .close-button {
  background: none;
  border: none;
}

#input-with-email-content > .header {
  --border: 1px solid black;
  margin: 20px auto;
  width: 400px;
}

#input-with-email-content > .header > .title {
  text-align: center;
  font: normal normal bold 18px/26px Noto Sans KR;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

#input-with-email-content > .body {
  width: 400px;
  height: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

#input-with-email-content > .body > .input-signup-name {
  border: 1px solid #cccccc;
  height: 40px;
  margin-bottom: 15px;
  padding: 10px;
}

#input-with-email-content > .body > .input-signup-name::placeholder {
  color: #cccccc;
  opacity: 1;
  letter-spacing: 0px;
}
#input-with-email-content > .body > .input-signup-name:focus {
  outline: none;
}
#input-with-email-content > .body .input-signup-password {
  border: 1px solid #cccccc;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
}

#input-with-email-content > .body > .input-signup-password::placeholder {
  color: #cccccc;
  opacity: 1;
  letter-spacing: 0px;
}
#input-with-email-content > .body > .input-signup-password:focus {
  outline: none;
}

#input-with-email-content > .body > .input-signup-password-confirm {
  border: 1px solid #cccccc;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
}

#input-with-email-content
  > .body
  > .input-signup-password-confirm::placeholder {
  color: #cccccc;
  --font-weight: bold;
}

#input-with-email-content > .body > .input-signup-password-confirm:focus {
  outline: none;
}

#input-with-email-content > .body > .select-phone-email button {
  background: none;
  border: 1px solid #cccccc;
  width: 200px;
  height: 40px;
}

#input-with-email-content > .body > .verify {
  display: flex;
  margin-top: 10px;
}

#input-with-email-content > .body > .verify .input-info-for-verify {
  width: 300px;
  height: 40px;
  border: 1px solid #cccccc;
  padding: 5px;
}

#input-with-email-content
  > .body
  > .verify
  .input-info-for-verify::placeholder {
  color: #cccccc;
  --font-size: 15px;
}

#input-with-email-content > .body > .verify .verify-btn {
  background: #dddddd 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  color: #999999;
  width: 100px;
  height: 40px;
}

#input-with-email-content > .body > .verify .verify-btn:focus {
  outline: none;
}

#input-with-email-content > .body > .verify-confirm-title {
  margin-top: 15px;
}

#input-with-email-content > .body > .verify-confirm {
  display: flex;
  margin-top: 10px;
}

#input-with-email-content
  > .body
  > .verify-confirm
  .input-info-for-verify-confirm {
  width: 300px;
  height: 40px;
  border: 1px solid #cccccc;
  padding: 5px;
}

#input-with-email-content
  > .body
  > .verify-confirm
  .input-info-for-verify-confirm::placeholder {
  color: #cccccc;
}

#input-with-email-content
  > .body
  > .verify-confirm
  .input-info-for-verify-confirm:focus {
  outline: none;
}

#input-with-email-content > .body > .verify-confirm .verify-confirm-btn {
  background: #009999 0% 0% no-repeat padding-box;
  border: 1px solid #009999;
  color: #ffffff;
  width: 100px;
  height: 40px;
}

#input-with-email-content > .body > .select-job-btn {
  height: 50px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  margin-top: 30px;
  background: none;
  font: normal normal bold 15px/19px Apple SD Gothic Neo;
}

/*---------------------------------------------------------------------------------------*/
/* select task you want ---------------------------------------------------------------- */
#signin-content .select-task-container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.select-task-container > .select-task-content {
  width: 440px;
  height: 710px;
  --height: 95vh;
  margin: 50px auto;
  background: white;
}

.select-task-content > .header {
  width: 400px;
  text-align: center;
  margin: 30px auto;
}

.select-task-content > .header > .title {
  font: normal normal bold 18px/26px Noto Sans KR;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.select-task-content > .header > .preamble {
  margin-top: 15px;
  text-align: center;
  font: normal normal medium 15px/22px Noto Sans KR;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

.select-task-content > .header > .guide-preamble {
  margin-top: 5px;
  font-size: 12px;
  letter-spacing: 0px;
  color: #cccccc;
  opacity: 1;
}

.select-task-content > .body {
  width: 400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.select-task-content > .body > .select-job-family-title {
  text-align: left;
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
}

.select-task-content > .body > .select-job-family {
  height: 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  border-radius: 3px;
  opacity: 1;
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #666666;
  padding: 5px;
}

.select-task-content > .body > .select-job-family:focus {
  outline: none;
}

.select-task-content > .body > .select-job-group-title {
  text-align: left;
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
  margin-top: 10px;
}

.select-task-content > .body > .select-job-group {
  height: 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  border-radius: 3px;
  opacity: 1;
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #666666;
  padding: 5px;
}

.select-task-content > .body > .select-job-group:focus {
  outline: none;
}

.select-task-content > .body > .select-job-title {
  display: flex;
  justify-content: space-between;
}

.select-task-content > .body > .select-job-title > div {
  text-align: left;
  font: normal normal medium 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
  margin-top: 10px;
}

.select-task-content > .body > .select-job-title > div:nth-child(2) {
  font: normal normal medium 11px/16px Noto Sans KR;
  font-size: 13px;
  letter-spacing: 0px;
  color: #cccccc;
  opacity: 1;
}

/* .select-task-content > .body > .select-job:focus {
  outline: none;
} */

.select-task-content > .body > .select-detail-job-title {
  display: flex;
  justify-content: space-between;
}

.select-task-content > .body > .select-detail-job-title > div {
  text-align: left;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
  margin-top: 10px;
}

.select-task-content > .body > .select-detail-job-title > div:nth-child(2) {
  font: normal normal medium 11px/16px Noto Sans KR;
  font-size: 13px;
  letter-spacing: 0px;
  color: #cccccc;
  opacity: 1;
}

.select-task-content > .body > .signup-done {
  background: #009999 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  height: 50px;
  border: none;
  font: normal normal bold 15px/21px Noto Sans KR;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 30px;
}

.select-task-content > .body > .signup-later {
  width: 100px;
  height: 22px;

  background: none;
  border-radius: 3px;
  --font-size: 12px;

  opacity: 1;
  --border: 1px solid black;
  border: none;
  font: normal normal bold 13px Noto Sans KR;
  letter-spacing: 0px;
  color: #aaaaaa;
  margin: 5px auto 0px auto;
  text-decoration: underline;
}

/*---------------------------------------------------------------------------------------*/
/* Signup end ---------------------------------------------------------------- */
#signin-content .signup-end-container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.signup-end-container > .signup-end-content {
  display: flex;
  justify-content: center;
  width: 440px;
  height: 710px;
  --height: 95vh;
  margin: 0 auto;
  background: white;
}

.signup-end-content > .header {
  width: 400px;
  max-height: 200px;
  text-align: center;
  --border: 1px solid red;
  margin-top: 187px;
}

.signup-end-content > .header > .preamble-one {
  text-align: center;
  font: normal normal bold 18px/28px Noto Sans KR;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.signup-end-content > .header > .preamble-two {
  margin-top: 21px;
  text-align: center;
  font: normal normal medium 15px/22px Noto Sans KR;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

.signup-end-content > .header > .go-signup {
  width: 100%;
  height: 50px;
  background: transparent linear-gradient(99deg, #049397 0%, #55267f 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 3px;
  font: normal normal bold 15px/21px Noto Sans KR;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  border: none;
  margin-top: 67px;
}

.signup-end-content > .header > .go-signup:focus {
  outline: none;
}
