.skill-info {
  margin: 80px 100px 0px 100px;
}
.add-items {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) 15px/19px
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-009999);
  text-align: left;
  font: normal normal medium 15px/19px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #009999;
  opacity: 1;
}
hr {
  width: 880px;
  margin-left: 0px;
  border: 2px solid var(--unnamed-color-707070);
  border: 2px solid #707070;
  opacity: 1;
}
.skill-info .title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-apple-sd-gothic-neo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 20px/24px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.skill-level {
  outline: none;
  width: 160px;
  height: 40px;
  margin-left: 20px;
  margin-right: 270px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  opacity: 1;
}
.skill-usage {
  outline: none;
  width: 520px;
  height: 40px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  opacity: 1;
}

.acquisition-period {
  width: 160px;
  height: 40px;
  /* UI Properties */
  border: 1px solid var(--박스-테두리-라인-색상);
  background: #f0f0f0 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  opacity: 1;
}
